img {
    width: 100px;
}

/* ABSOLUTE positioning is like setting x,y coordinates
 * The element is taken OUT of the page's NORMAL FLOW
 * Then we set the distance from two sides (top & left) 
 */
#absolute {
    position: absolute;
    top: 200px;
    left: 150px;
    z-index: 10;
}

/* FIXED positioning keeps the element
 * in the same place while scrolling
 */
#fixed {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

/* STICKY positioning is like fixed, but 
 * only "sticks" there when you scroll to it
*/
#sticky {
    position: sticky;
    left: 20px;
    top: 15px;
}


/* RELATIVE positioning lets you "nudge" an
 * element from its normal position on the page
 * (moves it relative to the static spot)
 */
#relative {
    position: relative;
    top: -15px;
    left: 15px;
}





body {
    height: 1000px;
}

/* Setting display to "inline-block" makes a 
 * div wrap perfectly around an item 
*/
#container {
    background: plum;
    display:inline-block;
}