img {
    width: 100px;
}

/* ABSOLUTE positioning is like setting coordinates
 * The element is taken OUT of the page's NORMAL FLOW
 * Then we set the distance from two sides (top & left) 
 */
#absolute {
    position: absolute;
    top: 200px;
    left: 150px;
}

#fixed {
    position: fixed;
    bottom: 0px;
    right: 0px;
}